<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OAuth</title>
    <style>
        h5 {
            color: #0d6efd;
            text-align: center;
            margin-top: 20px;
        }
    </style>
</head>

<body>
    <h5>Logged In Successfully</h5>
    <input type="hidden" id="token" value="{{ token }}">

    <!-- <script>
        window.onload = function () {
            const token = document.querySelector('#token').value;
            // setTimeout(() => {
            //     if (window.parent) window.parent.postMessage(token, '*');
            //     if (window.opener) window.opener.postMessage(token, '*');
            // }, 500)
        }
    </script> -->
</body>

</html>